/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body, html {
  min-height: 100%;
  width: 100%;
}

.clear::after, .clear::before {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

.header {
  background: url("../images/bg.png") no-repeat;
  background-size: cover;
  height: 100vh;
}

.header__block {
  padding-top: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 5.70937px;
  color: #fff;
}

.header__subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 221px;
}

.header__scroll {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.7px;
  color: #FFFFFF;
  opacity: 80%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__scroll:hover {
  opacity: 100%;
}

.logo {
  width: 102px;
  height: 23px;
  margin-bottom: 317px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E6E6E6;
}

.navigation__logo {
  width: 80px;
  height: 18px;
}

.navigation__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__elem {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  letter-spacing: 1.09091px;
  color: #48555B;
  margin-left: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navigation__elem:hover {
  color: #00A4E5;
}

.story {
  width: 100%;
  background: #fff;
}

.story__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 120px;
}

.story__title {
  margin-top: 57px;
  margin-bottom: 57px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  width: 125px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.30625px;
  color: #48555B;
  padding-bottom: 10px;
  border-bottom: 2px solid #00A4E5;
}

.story__title--sub {
  margin-bottom: 30px;
  max-width: 405px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.1875px;
  color: #48555B;
}

.story__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.story__text {
  max-width: 405px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1875px;
}

.story__block-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.story__link {
  margin-right: 15px;
}

.story__img-url {
  height: 225px;
}

.color__blue {
  color: #00A4E5;
}

.services {
  width: 100%;
  background: #fff;
}

.services__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 115px;
}

.services__capabilites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin-bottom: 80px;
}

.services__title {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 200px;
}

.services__title--sub {
  margin-top: 25px;
  max-width: 250px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.426667px;
  color: #48555B;
}

.services__text {
  max-width: 490px;
}

.services__text--sub {
  margin-top: 13px;
  max-width: 250px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B;
}

.services__button {
  background: #00A4E5;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.services__button:hover {
  color: #48555B;
}

.services__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__elem {
  max-width: 330px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 23px;
  padding-right: 23px;
  border: 1px solid #E6E6E6;
  background: #fff;
}

.getInTouch {
  width: 100%;
  background: url("/images/get-in-touch.png") no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.getInTouch__block {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.getInTouch__title {
  margin-top: 25%;
  margin-bottom: 35px;
  max-width: 350px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #48555B;
}

.getInTouch__button {
  margin-bottom: 231px;
}

.contact {
  background: #171819;
  width: 100%;
}

.contact__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title {
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 70px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
}

.contact__form {
  margin-top: 35px;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__mail {
  width: 250px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 16px;
  background: #FFFFFF;
  border: 1px solid #979797;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.07px;
  color: #48555B;
}

.contact__button {
  width: 150px;
  height: 43px;
  background: #00A4E5;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contact__button:hover {
  color: #48555B;
}
/*# sourceMappingURL=styles.css.map */