.header {
    background: url('../images/bg.png') no-repeat;
    background-size: cover;
    height: 100vh;

    &__block {
        padding-top: 41px;
        padding-bottom: 71px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        align-items: center;
    }

    &__title {
        font-family: 'Bebas Neue', cursive;
        font-size: 60px;
        line-height: 70px;
        text-align: center;
        letter-spacing: 5.70937px;
        color: #fff;
    }

    &__subtitle {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        margin-bottom: 221px;
    }

    &__scroll {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 3.7px;
        color: #FFFFFF;
        opacity: 80%;
        transition: all .3s;

        &:hover {
            opacity: 100%;
        }
    } 
}

.logo {
    width: 102px;
    height: 23px;
    margin-bottom: 317px;
}