.header {
    background: url('../images/bg.png') no-repeat;
    background-size: cover;
    height: 100vh;

    &__block {
        padding-top: 41px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        align-items: center;
    }

    &__title {
        font-family: 'Bebas Neue', cursive;
        font-size: 60px;
        line-height: 70px;
        text-align: center;
        letter-spacing: 5.70937px;
        color: #fff;
    }

    &__subtitle {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        margin-bottom: 221px;
    }

    &__scroll {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 3.7px;
        color: #FFFFFF;
        opacity: 80%;
        transition: all .3s;

        &:hover {
            opacity: 100%;
        }
    } 
}

.logo {
    width: 102px;
    height: 23px;
    margin-bottom: 317px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E6E6E6;

    &__logo {
        width: 80px;
        height: 18px;
    }

    &__block {
        display: flex;
    }

    &__elem {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        letter-spacing: 1.09091px;
        color: #48555B;
        margin-left: 50px;
        transition: all .3s;

        &:hover {
            color: #00A4E5;
        }
    }
}